.container {
    text-align: center;
    margin-top: 50px;
  }
  
  input {
    margin-top: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #grade {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  